<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色添加</title>
    <link href="static/css/font.css" th:href="@{/static/css/font.css}" rel="stylesheet">
    <link href="static/css/xadmin.css" th:href="@{/static/css/xadmin.css}" rel="stylesheet">
    <script src="static/lib/layui/layui.js" charset="utf-8" th:src="@{/static/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="static/js/xadmin.js" th:src="@{/static/js/xadmin.js}"></script>
    <script type="text/javascript" src="static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="course" class="layui-form-label">
                    <span class="x-red">*</span>课程名字
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="course" name="course" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="coursetime" class="layui-form-label">
                    <span class="x-red">*</span>课程学时
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="coursetime" name="coursetime" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="score" class="layui-form-label">
                    <span class="x-red">*</span>课程学分
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="score" name="score" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button id="L_repass" class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
        //监听提交
        form.on('submit(add)',
            function(data) {
                var url = "/courseAdd_submit";
                var param = {course:data.field.course,coursetime:data.field.coursetime,score:data.field.score};//表单序列化传递到后台
                $.post(url, param, function(data) {
                    if (data.flag==1){
                        xadmin.close();
                        xadmin.father_reload();
                    }else {
                        layer.msg('增加失败!',{icon: 5,time:1000});
                    }
                });
                return false;
            });
    });
</script>
</body>
</html>