<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>课程列表</title>
    <link href="static/css/font.css" th:href="@{/static/css/font.css}" rel="stylesheet">
    <link href="static/css/xadmin.css" th:href="@{/static/css/xadmin.css}" rel="stylesheet">
    <script src="static/lib/layui/layui.js" charset="utf-8" th:src="@{/static/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="static/js/xadmin.js" th:src="@{/static/js/xadmin.js}"></script>
    <script type="text/javascript" src="static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
</head>

<body>
<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">演示</a>
                <a>
                    <cite>导航元素</cite></a>
            </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()">
                        <i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn" onclick="xadmin.open('添加课程','/courseAdd',800,500)"><i class="layui-icon"></i>添加课程</button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th width="20">
                                <input type="checkbox" name="" lay-skin="primary">
                            </th>
                            <th width="70">ID</th>
                            <th>课程名</th>
                            <th width="50">学时</th>
                            <th width="80">学分</th>
                            <th width="250">操作</th>
                        </thead>
                        <tbody class="x-cate">
                        <tr th:each="course:${courses}" th:cate-id="${course.co_id}"  fid='0' >
                            <td>
                                <input type="checkbox" name="" lay-skin="primary">
                            </td>
                            <td th:text="${course.co_id}"></td>
                            <td>
                                <i class="layui-icon x-show" status='true'>&#xe623;</i>
                                [[${course.course}]]
                            </td>
                            <td th:text="${course.coursetime}"></td>
                            <td th:text="${course.score}"></td>
                            <td class="td-manage">
                                <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','admin-edit.html')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                <button class="layui-btn layui-btn-warm layui-btn-xs" th:onclick="chapterAdd([[${course.co_id}]],[[${course.course}]])"><i class="layui-icon">&#xe642;</i>添加章节</button>
                                <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="member_del(this,'要删除的id')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                            </td>
                        </tr>
                        <tr th:each="chapter:${chapters}" th:case-id="${chapter.chapter_id}" th:fid="${chapter.co_id}">
                            <td colspan="5" style="padding-left:20%">
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="layui-icon x-show" status='true'>&#xe623;</i>
                                [[${chapter.chapter}]]
                            </td>

                            <td class="td-manage">
                                <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','admin-edit.html')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                <button class="layui-btn layui-btn-warm layui-btn-xs"  th:onclick="coursewareAdd([[${chapter.chapter_id}]],[[${chapter.chapter}]])" ><i class="layui-icon">&#xe642;</i>添加课件</button>
                                <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="member_del(this,'要删除的id')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                            </td>
                        </tr>
                        <tr th:each="courseWare:${courseWares}" th:case-id="${courseWare.Id}" th:fid="${courseWare.chapter_id}">
                            <td colspan="5" style="padding-left:26%">
                                [[${courseWare.address}]]
                            </td>
                            <td class="td-manage">
                                <button class="layui-btn layui-btn layui-btn-xs"  onclick="xadmin.open('编辑','admin-edit.html')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="member_del(this,'要删除的id')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form'], function(){
        form = layui.form;

    });

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }

    // 分类展开收起的分类的逻辑
    //
    $(function(){
        $("tbody.x-cate tr[fid!='0']").hide();
        // 栏目多级显示效果
        $('.x-show').click(function () {
            if($(this).attr('status')=='true'){
                $(this).html('&#xe625;');
                $(this).attr('status','false');
                cateId = $(this).parents('tr').attr('cate-id');
                $("tbody tr[fid="+cateId+"]").show();
            }else{
                cateIds = [];
                $(this).html('&#xe623;');
                $(this).attr('status','true');
                cateId = $(this).parents('tr').attr('cate-id');
                getCateId(cateId);
                for (var i in cateIds) {
                    $("tbody tr[cate-id="+cateIds[i]+"]").hide().find('.x-show').html('&#xe623;').attr('status','true');
                }
            }
        })
    })

    var cateIds = [];
    function getCateId(cateId) {
        $("tbody tr[fid="+cateId+"]").each(function(index, el) {
            id = $(el).attr('cate-id');
            cateIds.push(id);
            getCateId(id);
        });
    }

    function chapterAdd(co_id,course){
        xadmin.open(course,'/chapterAdd?co_id='+co_id+'',800,500);
    }

    function coursewareAdd(chapter_id,chapter){
        xadmin.open(chapter,'/coursewareAdd?chapter_id='+chapter_id+'',800,500);
    }

</script>
</body>
</html>
