<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqgcxy.online_study_system.dao.courseDao">
    <select id="selectCourse" resultType="com.cqgcxy.online_study_system.entity.Course">
        select * from course
    </select>

    <select id="selectCourseById" parameterType="int" resultType="com.cqgcxy.online_study_system.entity.Course">
        select * from course where co_id=#{co_id}
    </select>

    <insert id="insertCourse" parameterType="com.cqgcxy.online_study_system.entity.Course">
        insert into course(course,coursetime,score)
        value(#{course},#{coursetime},#{score})
    </insert>
</mapper>