<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqgcxy.online_study_system.dao.coursewareDao">
    <select id="selectCourseWare" resultType="com.cqgcxy.online_study_system.entity.CourseWare">
        select * from courseware
    </select>

    <select id="selectCourseWareById" parameterType="int" resultType="com.cqgcxy.online_study_system.entity.CourseWare">
        select * from courseware where chapter_id=#{chapter_id}
    </select>

    <select id="CourseWareById" parameterType="int" resultType="com.cqgcxy.online_study_system.entity.CourseWare">
        select * from courseware where Id=#{Id}
    </select>

    <insert id="insertCourseWare" parameterType="com.cqgcxy.online_study_system.entity.CourseWare">
        insert into courseware (chapter_id,address) value (#{chapter_id},#{address})
    </insert>
</mapper>