<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqgcxy.online_study_system.dao.role_permissionDao">
    <insert id="insertRolePermission" parameterType="com.cqgcxy.online_study_system.entity.Role_permission">
        insert into role_permission (role_id,per_id)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (
                #{item.role_id},
                #{item.per_id}
            )
        </foreach>
    </insert>

    <delete id="deletPermission" parameterType="int">
        delete from role_permission where role_id=#{role_id}
    </delete>
</mapper>