<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqgcxy.online_study_system.dao.userDao">
    <resultMap id="User" type="com.cqgcxy.online_study_system.entity.User">
    <id property="user_id" column="user_id"></id>
    <result property="username" column="username"></result>
    <result property="password" column="password"></result>
    <result property="role_id" column="role_id"></result>
    <result property="status" column="status"></result>
    <association property="role" javaType="com.cqgcxy.online_study_system.entity.Role">
        <id property="role_id" column="role_id"></id>
        <result property="role_name" column="role_name"></result>
    </association>
    <collection property="permission" ofType="com.cqgcxy.online_study_system.entity.Permission">
        <id property="per_id" column="per_id"></id>
        <result property="per_name" column="per_name"></result>
    </collection>
    </resultMap>
    <select id="selectUserRole" parameterType="com.cqgcxy.online_study_system.entity.User" resultMap="User">
        select user.user_id,user.username,role.role_name,permission.per_id,permission.per_name,role.role_id,user.status
        from user,role,role_permission,permission
        where user.role_id=role.role_id and role.role_id=role_permission.role_id and role_permission.per_id=permission.per_id and
        user.username=#{username} and user.password=#{password}
    </select>
    <select id="selectUserRoleAll"  resultMap="User">
        select user.user_id,user.username,role.role_name,permission.per_id,permission.per_name,role.role_id,user.status
        from user,role,role_permission,permission
        where user.role_id=role.role_id and role.role_id=role_permission.role_id and role_permission.per_id=permission.per_id and role_name!='管理员'
    </select>
    <select id="selectUserIsStu" parameterType="com.cqgcxy.online_study_system.entity.User" resultMap="User">
        select *
        from user,role
        where user.role_id=role.role_id and user.username=#{username} and user.password=#{password}
    </select>
    <select id="selectUserByName" parameterType="String" resultType="com.cqgcxy.online_study_system.entity.User">
        select * from user where username=#{username}
    </select>
    <select id="selectAdminUserById" parameterType="int" resultMap="User">
        select *
        from user,role
        where user.role_id=role.role_id and user.user_id=#{user_id}
    </select>
    <select id="selectStuUser" resultType="com.cqgcxy.online_study_system.entity.User">
        select * from user,role where user.role_id=role.role_id and role.role_id=3
    </select>
    <update id="updateAdminUser" parameterType="com.cqgcxy.online_study_system.entity.User">
        update user set username=#{username},role_id=#{role_id} where user_id=#{user_id}
    </update>
    <update id="updateUserRun" parameterType="int">
        update user set status=1 where user_id=#{user_id}
    </update>

    <update id="updateUserStop" parameterType="int">
        update user set status=0 where user_id=#{user_id}
    </update>

    <insert id="insertAdminUser" parameterType="com.cqgcxy.online_study_system.entity.User">
        insert into user (username,password,role_id,status) value (#{username},'1234560',#{role_id},1)
    </insert>

    <insert id="insertstuUser" parameterType="com.cqgcxy.online_study_system.entity.User">
        insert into user (username,password,role_id,status) value (#{username},'1234560',3,1)
    </insert>
</mapper>