<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>角色添加</title>
    <link href="static/css/font.css" th:href="@{/static/css/font.css}" rel="stylesheet">
    <link href="static/css/xadmin.css" th:href="@{/static/css/xadmin.css}" rel="stylesheet">
    <script src="static/lib/layui/layui.js" charset="utf-8" th:src="@{/static/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="static/js/xadmin.js" th:src="@{/static/js/xadmin.js}"></script>
    <script type="text/javascript" src="static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
</head>
    <body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-card-body" pad15>
                    <div class="layui-form" wid100>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">课程日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="begintime" class="layui-input" id="test-laydate-start" placeholder="开始日期">
                                </div>
                                <div class="layui-form-mid">
                                    -
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" name="endtime" class="layui-input" id="test-laydate-end" placeholder="结束日期">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">选择课程</label>
                                <div class="layui-input-block">
                                    <div th:each="course:${courses}">
                                        <input type="checkbox" name="id" th:value="${course.co_id}" lay-skin="primary" th:title="${course.course}" checked="">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_repass" class="layui-form-label"></label>
                                <button id="L_repass" class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>layui.use(['form', 'layer','laydate'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer,
                laydate = layui.laydate;
            //开始日期
            var insStart = laydate.render({
                elem: '#test-laydate-start'
                ,min: 0
                ,done: function(value, date){
                    //更新结束日期的最小日期
                    insEnd.config.min = lay.extend({}, date, {
                        month: date.month - 1
                    });
                    //自动弹出结束日期的选择器
                    insEnd.config.elem[0].focus();
                }
            });

            //结束日期
            var insEnd = laydate.render({
                elem: '#test-laydate-end'
                ,min: 0
                ,done: function(value, date){
                    //更新开始日期的最大日期
                    insStart.config.max = lay.extend({}, date, {
                        month: date.month - 1
                    });
                }
            });
            //监听提交
            form.on('submit(add)',
                function(data) {
                    console.log(data)
                    var ids = add();
                    var url = "/batchAdd_submit";
                    var param = {begintime:data.field.begintime,endtime:data.field.endtime,per:ids};//表单序列化传递到后台
                    $.post(url, param, function(data) {
                        if (data.flag==1){
                            xadmin.close();
                            xadmin.father_reload();
                        }else {
                            layer.msg('增加失败!',{icon: 5,time:1000});
                        }
                    });
                    return false;
                });
        });

        function add(argument) {
            var ids = [];

            // 获取选中的id
            $('input').each(function(index, el) {
                if($(this).prop('checked')){
                    ids.push($(this).val())
                }
            });
            return ids.toString();
        }

    </script>
    </body>
</html>